/* Police d'écriture */

@font-face { font-family: 'Ubuntu';
    src: url('polices/Ubuntu/Ubuntu-Regular.ttf');
}

/* --------------------------- Header --------------------------- */

header {
    background-color: rgba(0, 0, 0, 0.84);
    padding: 0.2%;
}

h1.titre_site a:link {
    text-decoration: none;
}

h1.titre_site a {
    color: #FFFFFF;
}

div h1.titre_site {
    text-align: center;
}

div.menu {
    margin: 5% auto 0 auto;
    width: 33%;
    color: lightgrey;
    display: inline-block;
    text-align: center;
}

.left {}

.middle {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.right {}

div.menu a {
    color: darkgrey;
}

div.menu a:link {
    text-decoration: none;
}

div.menu a:hover {
    color: #FFFFFF;
}

article {
    border: 20px solid transparent;
}

/* --------------------------- Body --------------------------- */

body {
    font-family: Ubuntu;
    color: #FFFFFF;
    margin: 0;
}

.fond {
    background-color: rgba(0, 0, 0, 0.85);
    border: 155px solid transparent;
    padding: 20px;
    border-image: url('images/fond.png') 70;
    border-image-repeat: round;
}

ul.Manga {
    padding-left: 40px;
    padding-right: 40px;
}

li.Manga {
    list-style-type: none;
    display: flex;
    border-bottom: 2px solid lightgray;
}

img.Manga {
    height: 25vh;
    padding: 5px;
    margin-top: 45px;
    margin-right: 10px;
    margin-bottom: 45px;
}

h3.Manga {
    width: 1000px;
    text-align: center;
    margin-top: 70px;
    margin-right: 180px;
}

a.titre_anime {
    color: #FFFFFF;
}

a.titre_anime:link {
    text-decoration: none;
}

a.titre_anime:hover {
    color: lightgray;
}

p.manga {
    margin-top: 150px;

}
