/* Police d'écriture */

@font-face { font-family: 'Ubuntu';
    src: url('polices/Ubuntu/Ubuntu-Regular.ttf');
}

/* Body */

body {
    font-family: Ubuntu;
    margin: 0;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.84);
    padding: 0.2%;
}

h1.titre_site {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 40px;
    color: #FFFFFF;
}

h3{
    margin: auto;
}

div.menu {
    margin: 5% auto 0 auto;
    width: 33%;
    color: lightgrey;
    display: inline-block;
    text-align: center;
}

.left {}

.middle {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.right {}

div.menu a {
    color: darkgrey;
}

div.menu a:link {
    text-decoration: none;
}

div.menu a:hover {
    color: #FFFFFF;
}

article {
    border: 20px solid transparent;
}

.fond {
    background-color: rgba(0,0,0,0.8);
    border: 155px solid transparent;
    padding: 20px;
    border-image: url('images/kaneki.png') 70;
    border-image-repeat: round;
}